.container {
    height: 100%;
    display: flex;
    background-color: none;
}

.containerDark {
    background-color: gray;
    color: white;
    height: 100%;
    display: flex;
}

.dashboardContainer {
    width: 100%;
    padding: 1.5rem 2.5rem;
}

.cardsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0;
}
